.edit-account-page {
    display: none;
    position: absolute;
    background-color: rgb(17, 85, 204);
    top: -49px;
    left: 156px;
    width: 300px;
    height: 594px;
    z-index: 102;
    padding: 6px 6px;
    border-radius: 10px;
    color: white;
}

.edit-account-back-button {
    background-color: rgb(17, 85, 204);
    border: none;
    cursor: pointer;
}

.edit-account-page-content {
    margin-top: 10px;
    margin-inline: 4px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.edit-account-page-content input {
    height: 30px;
    font-size: 1rem;
    padding-inline: 10px;
    border-radius: 4px;
    border: none;
}

.edit-data-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 6px;
}

.preview-avatar-image-64x64 {
    object-fit: cover;
    width: 64px;
    height: 64px;
}

.preview-avatar-image-40x40 {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.edit-avatar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.avatars-container,
.upload-avatar-button-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px
}

.upload-avatar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}

.upload-avatar-button:hover {
    background-color: rgb(151, 46, 46);
}

.edit-account-button {
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    border: none;
    transition: background-color .2s;
    font-size: 14px;
    color: white;
}

.edit-account-save-button {
    background-color: rgb(38, 144, 59);
}

.edit-account-save-button:hover {
    background-color:rgb(16, 156, 46);
}

.edit-account-change-password-button {
    background-color: rgb(71, 153, 204);
}

.edit-account-change-password-button:hover {
    background-color: rgb(73, 144, 189);
}